<div class="row">
    <div class="col-xl-4 col-lg-3">
        <div class="entry-area">
            <input class="entry-input" type="text" name="position" id="position" placeholder="POSITION">
        </div>

        <div class="entry-area">
            <select class="entry-input" name="departmentlist" id="departmentlist">
                <option value="-">DEPARTMENT</option>
            </select>
        </div>

        <div class="entry-area">
            <button class="approve-btn" id="addBtn" name="addBtn">ADD</button>
        </div>
    </div>
</div>
<hr>

<div>
    <table id="position-table">
        <thead>
            <th>CODE</th>
            <th>POSITION</th>
            <th>DEPARTMENT</th>
            <th>CREATED BY</th>
            <th>CREATED DATE</th>
        </thead>
        <tbody></tbody>
    </table>
</div>