<div class="row">
  <div class="col-xl-4 col-lg-3">
    <div class="entry-area">
      <input
        class="entry-input"
        type="text"
        name="employeeid"
        id="employeeid"
        placeholder="EMPLOYEE ID"
      />
    </div>
    <div class="entry-area">
      <input
        class="entry-input"
        type="text"
        name="firstname"
        id="firstname"
        placeholder="FIRST NAME"
      />
    </div>
    <div class="entry-area">
      <input
        class="entry-input"
        type="text"
        name="middlename"
        id="middlename"
        placeholder="MIDDLE NAME"
      />
    </div>
    <div class="entry-area">
      <input
        class="entry-input"
        type="text"
        name="lastname"
        id="lastname"
        placeholder="LAST NAME"
      />
    </div>
    <div class="entry-area">
      <select class="entry-input" name="departmentlist" id="departmentlist">
        <option value="-">DEPARTMENT</option>
      </select>
    </div>

    <div class="entry-area">
      <select class="entry-input" name="positionlist" id="positionlist">
        <option value="-">POSITION</option>
      </select>
    </div>

    <div class="entry-area">
      <button class="approve-btn" id="addBtn" name="addBtn">ADD</button>
    </div>
  </div>
  <div class="col-xl-4 col-lg-3">
    <div class="entry-area">
      <input class="entry-input" type="file" id="excel" />
    </div>
    <div class="entry-area">
      <button class="approve-btn" id="uploadBtn" name="uploadBtn">
        UPLOAD
      </button>
    </div>
  </div>
</div>
<hr />
<div class="table-responsive">
  <table id="employee-table" class="table table-bordered table-hover">
    <thead class="table-dark">
      <th>ID</th>
      <th>FULLNAME</th>
      <th>DEPARTMENT</th>
      <th>POSITION</th>
      <th>STATUS</th>
      <th>CREATED BY</th>
      <th>CREATED DATE</th>
      <th>ACTION</th>
    </thead>
    <tbody class="table-light"></tbody>
  </table>
</div>

<!-- The Modal -->
<div id="updateModal" class="modal card shadow mb-4">
  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-button-container">
      <span id="updateModalSpan" class="close">&times;</span>
    </div>
    <!-- AREA TO PRINT ONLY -->
    <div id="printArea" name="printArea" class="print-container">
      <div class="modal-body">
        <div class="row center-content">
          <div class="col-xl-6 col-lg-6 col-sm-6">
            <div class="entry-area">
              <input
                class="entry-input"
                type="text"
                name="modalfirstname"
                id="modalfirstname"
                placeholder="FIRST NAME"
              />
            </div>
            <div class="entry-area">
              <input
                class="entry-input"
                type="text"
                name="modalmiddlename"
                id="modalmiddlename"
                placeholder="MIDDLE NAME"
              />
            </div>
            <div class="entry-area">
              <input
                class="entry-input"
                type="text"
                name="modallastname"
                id="modallastname"
                placeholder="LAST NAME"
              />
            </div>
            <div class="entry-area">
              <select
                class="entry-input"
                name="modaldepartmentlist"
                id="modaldepartmentlist"
              >
                <option value="-">DEPARTMENT</option>
              </select>
            </div>

            <div class="entry-area">
              <select
                class="entry-input"
                name="modalpositionlist"
                id="modalpositionlist"
              >
                <option value="-">POSITION</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="modal-button-container" class="center-content">
      <button class="approve-btn" id="saveBtn" name="saveBtn">SAVE</button>
    </div>
  </div>
</div>
