<div class="row">
    <div class="col-xl-4 col-lg-3">
        <div class="entry-area">
            <input class="entry-input" type="text" name="firstname" id="firstname" placeholder="FIRST NAME">
        </div>
        <div class="entry-area">
            <input class="entry-input" type="text" name="middlename" id="middlename" placeholder="MIDDLE NAME">
        </div>
        <div class="entry-area">
            <input class="entry-input" type="text" name="lastname" id="lastname" placeholder="LAST NAME">
        </div>
        <div class="entry-area">
            <input class="entry-input" type="text" name="username" id="username" placeholder="USERNAME">
        </div>
        <div class="entry-area">
            <input class="entry-input" type="text" name="password" id="password" placeholder="PASSWORD">
        </div>
        <div class="entry-area">
            <select class="entry-input" name="accesstypelist" id="accesstypelist">
                <option value="-">ACCESS TYPE</option>
            </select>
        </div>
        <div class="entry-area">
            <button class="approve-btn" id="addBtn" name="addBtn">ADD</button>
        </div>
    </div>
</div>
<hr>
<div>
    <table id="admin-table">
        <thead>
            <th>FULLNAME</th>
            <th>USERNAME</th>
            <th>PASSWORD</th>
            <th>CREATED BY</th>
            <th>CREATED DATE</th>
            <th>STATUS</th>
        </thead>
        <tbody></tbody>
    </table>
</div>