<div class="row">
  <div class="col-xl-4 col-lg-3">
    <div class="entry-area">
      <input
        class="entry-input"
        type="text"
        name="departmentname"
        id="departmentname"
        placeholder="DEPARTMENT"
      />
    </div>

    <div class="entry-area">
      <button class="approve-btn" id="addBtn" name="addBtn">ADD</button>
    </div>
  </div>
</div>
<hr />

<div class="table-responsive-sm">
  <table id="department-table" class="table table-bordered table-hover">
    <thead class="table-dark">
      <th>CODE</th>
      <th>DEPARTMENT</th>
      <th>CREATED BY</th>
      <th>CREATED DATE</th>
    </thead>
    <tbody class="table-light"></tbody>
  </table>
</div>
