<div>
    <h1 style="color:white" class="center-text">OPERATIONS OFFICERS</h1>
    <div class="row center-content">
        <div>
            <table id="supervisor-table">
                <thead>
                    <th>ID</th>
                    <th>IMAGE</th>
                    <th>NAME</th>
                    <th>SUBJECT</th>
                    <th>STATUS</th>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

<!-- The Modal -->
<div id="questionModal" class="modal card shadow mb-4">
    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-button-container">
            <span id="questionModalSpan" class="close">&times;</span>
        </div>
        <div class="modal-body">
            <div class="center-content">
                <div>
                    <p>Evaluations of supervisors by employees is an important process for providing supervisors with an
                        assessment of the quality of their work.
                        Annual supervisor evaluations can be used to compliment a supervisor for doing a good job.
                        Annual evaluations can also identify areas for improvement.
                        Evaluations can strengthen communications between supervisors and employees.</p>

                    <p>Have two options for evaluating supervisors:</p>
                    <p>1) Completing the Evaluation of Supervisor form.</p>
                    <p>2) Writing a memo evaluating the supervisor.</p>

                    <p>Evaluations received by the deadline will be incorporated into the annual review of the
                        supervisor. Forms and/or memos should be sent to the Human Resources department by prior to the
                        deadline.</p>
                </div>
            </div>
            <hr class="hr-black">
            <div class="center-text">
                <h1 id="subjectname"></h1>
            </div>

            <div class="row center-content">
                <div>
                    <table id="modal-question-table"> <!-- class="question-table" -->
                        <thead>
                            <th>CRITERIA</th>
                            <th style="width: 200px;">QUESTION</th>
                            <th>GRADE</th>
                            <th>COMMENT</th>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <br>
            <div class="row center-content">
                <div class="col-lg-6 col-xl-4 col-sm-4">
                    <div class="center-text">
                        <strong>
                            <p>AREAS GOOD AT</p>
                        </strong>
                    </div>

                    <div class="center-content">
                        <textarea name="goodcomment" id="goodcomment" cols="100" rows="10"
                            placeholder="COMMENT / REMARKS"></textarea>
                    </div>
                </div>

                <div class="col-lg-6 col-xl-4 col-sm-4">
                    <div class="center-text">
                        <strong>
                            <p>AREAS FOR IMPROVEMENT</p>
                        </strong>
                    </div>

                    <div class="center-content">
                        <textarea name="improvementcomment" id="improvementcomment" cols="100" rows="10"
                            placeholder="COMMENT / REMARKS"></textarea>
                    </div>
                </div>
            </div>
            <br>
            <div class="center-text">
                <strong>
                    <p>Your comment is important, please leave a comment.</p>
                </strong>
            </div>
            <div class="center-content">
                <textarea name="comment" id="comment" cols="100" rows="10" placeholder="COMMENT / REMARKS"></textarea>
            </div>
        </div>

        <div id="modal-button-container" class="center-content">
            <!-- <a class="success btn-glow" href="/EquipmentPullout/returnReport"> GENERATE RETURN </a> -->
            <button class="approve-btn" id="submitBtn" name="submitBtn">SUBMIT</button>
        </div>
    </div>
</div>

<!-- The Modal -->
<div id="adminquestionModal" class="modal card shadow mb-4">
    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-button-container">
            <span id="adminquestionModalSpan" class="close">&times;</span>
        </div>
        <div class="modal-body">
            <div class="content center-content">
                <div>
                    <p><strong><span>INSTRUCTION:</span></strong></p>
                    <p>Using your unbaised judgement, assess the performance of the employee by encircling the
                        corresponding discipline demonstrated by him/her during the coverage period stated above.</p>

                    <p><strong>POINTS SYSTEM:</strong> (Lowest-1, Highest- 5 )</p>

                    <p><strong>RATINGS:</strong> <br>5 - Outstanding <br>4 - Very Satisfactory <br>3 - Satisfactory
                        <br>2 - Inadequate <br>1 - Poor
                    </p>
                </div>

            </div>
            <hr class="hr-black">
            <div class="center-text">
                <h1 id="adminsubjectname"></h1>
            </div>
            <div class="row center-content">
                <div>
                    <table id="modal-question-table-admin"> <!--class="question-table"-->
                        <thead>
                            <th class="criteria">CRITERIA</th>
                            <th class="criteria">SUBCRITERIA</th>
                            <th class="question">QUESTION</th>
                            <th>GRADE</th>
                            <th>COMMENT</th>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <br>
            <div class="row center-content">
                <div class="col-lg-6 col-xl-4 col-sm-4">
                    <div class="center-text">
                        <strong>
                            <p>AREAS GOOD AT</p>
                        </strong>
                    </div>

                    <div class="center-content">
                        <textarea name="admingoodcomment" id="admingoodcomment" cols="100" rows="10"
                            placeholder="COMMENT / REMARKS"></textarea>
                    </div>
                </div>

                <div class="col-lg-6 col-xl-4 col-sm-4">
                    <div class="center-text">
                        <strong>
                            <p>AREAS FOR IMPROVEMENT</p>
                        </strong>
                    </div>

                    <div class="center-content">
                        <textarea name="adminimprovementcomment" id="adminimprovementcomment" cols="100" rows="10"
                            placeholder="COMMENT / REMARKS"></textarea>
                    </div>
                </div>
            </div>
            <br>
            <div class="center-text">
                <strong>
                    <p>Your comment is important, please leave a comment.</p>
                </strong>
            </div>
            <div class="center-content">
                <textarea name="comment" id="admincomment" cols="100" rows="10"
                    placeholder="COMMENT / REMARKS"></textarea>
            </div>
        </div>

        <div id="modal-button-container" class="center-content">
            <!-- <a class="success btn-glow" href="/EquipmentPullout/returnReport"> GENERATE RETURN </a> -->
            <button class="approve-btn" id="submitadminBtn" name="submitadminBtn">SUBMIT</button>
        </div>
    </div>
</div>

<!-- The Modal EMPLOYEE 3 month before end of the year -->
<div id="employeequestionModal" class="modal card shadow mb-4">
    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-button-container">
            <span id="employeequestionModalSpan" class="close">&times;</span>
        </div>
        <div class="modal-body">
            <div class="row center-content">
                <div>
                    <table id="modal-question-table-employee" class="question-table">
                        <thead>
                            <th class="criteria">CRITERIA</th>
                            <th class="question">QUESTION</th>
                            <th>CRITICAL INCIDENCE</th>
                            <th>RATING</th>
                            <th>WEIGHT</th>
                            <th>TOTAL POINTS</th>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>

            <br>

            <div class="center-text">
                <strong>
                    <p>Your comment is important, please leave comment.</p>
                </strong>
            </div>

            <div class="center-content">
                <textarea name="admincomment" id="admincomment" cols="100" rows="10"
                    placeholder="COMMENT / REMARKS"></textarea>
            </div>
        </div>

        <div id="modal-button-container" class="center-content">
            <!-- <a class="success btn-glow" href="/EquipmentPullout/returnReport"> GENERATE RETURN </a> -->
            <button class="approve-btn" id="submitadminBtn" name="submitadminBtn">SUBMIT</button>
        </div>
    </div>
</div>