<div>
    <h1 class="center-text">SUBJECT TO EVALUATE</h1>
    <div class="row center-content">
        <div class="col-xl-9 col-lg-9 col-sm-9">
            <table id="supervisor-table">
                <thead>
                    <th>ID</th>
                    <th>IMAGE</th>
                    <th>NAME</th>
                    <th>STATUS</th>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

<!-- The Modal -->
<div id="questionModal" class="modal card shadow mb-4">
    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-button-container">
            <span id="questionModalSpan" class="close">&times;</span>
        </div>
        <div class="modal-body">
            <div class="row center-content">
                <div>
                    <table id="modal-question-table" class="question-table">
                        <thead>
                            <th class="criteria">CRITERIA</th>
                            <th class="question">QUESTION</th>
                            <th>GRADE</th>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>

            <br>

            <div class="center-text">
                <strong>
                    <p>Your comment is important, please leave comment.</p>
                </strong>
            </div>

            <div class="center-content">
                <textarea name="comment" id="comment" cols="100" rows="10" placeholder="COMMENT / REMARKS"></textarea>
            </div>
        </div>



        <div id="modal-button-container" class="center-content">
            <!-- <a class="success btn-glow" href="/EquipmentPullout/returnReport"> GENERATE RETURN </a> -->
            <button class="btn-glow-modal" id="submitBtn" name="submitBtn">SUBMIT</button>
        </div>
    </div>
</div>